.style-0 {
  background-color: rgba(221,221,221,1)
}
.style-1 {
  background-image: url(https://designresources.assets.yotako.io/png/2017-12-06-16-50:1512579007497.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}
.style-2 {
  background-color: rgba(255,255,255,1)
}
.style-4 {
  font-family: BalsamiqSans,sans-serif;
  font-size: 19px
}
.style-5 {
  text-align: center;
  font-family: BalsamiqSans,sans-serif;
  font-size: 14px
}
.style-6 {
  color: rgba(102,102,102,1);
  font-family: BalsamiqSans,sans-serif;
  font-size: 14px
}
.style-7 {
  background-image: url(https://designresources.assets.yotako.io/png/2017-12-06-16-50:1512579007688.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}
.style-8 {
  background-color: rgba(255,255,255,1);
  border: 1px solid rgba(0,0,0,1);
  -webkit-box-shadow: 4px 4px 0 0 rgba(0,0,0,1);
  box-shadow: 4px 4px 0 0 rgba(0,0,0,1)
}
.style-9 {
  text-align: center;
  font-family: BalsamiqSans,sans-serif;
  font-size: 14px
}
.style-10 {
  background-color: rgba(43,120,228,1);
  border: 1px solid rgba(0,0,0,1);
  -webkit-box-shadow: 4px 4px 0 0 rgba(0,0,0,1);
  box-shadow: 4px 4px 0 0 rgba(0,0,0,1)
}
.style-11 {
  color: rgba(255,255,255,1);
  text-align: center;
  font-family: BalsamiqSans,sans-serif;
  font-size: 14px
}
.style-12 {
  background-color: rgba(255,255,255,1)
}
.style-13 {
  color: rgba(102,102,102,1);
  font-family: BalsamiqSans,sans-serif;
  font-size: 14px
}
.style-15 {
  color: rgba(102,102,102,1);
  font-family: BalsamiqSans,sans-serif;
  font-size: 14px
}
.style-17 {
  text-align: left;
  font-family: BalsamiqSans,sans-serif;
  font-size: 14px;
  font-weight: 700
}
.style-18 {
  text-align: left;
  font-family: BalsamiqSans,sans-serif;
  font-size: 14px
}
.style-19 {
  background-color: rgba(43,120,228,1)
}
.style-20 {
  background-image: url(https://designresources.assets.yotako.io/png/2017-12-06-16-50:1512579008122.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}
.style-21 {
  color: rgba(238,238,238,1);
  font-family: BalsamiqSans,sans-serif;
  font-size: 27px
}
.style-24 {
  background-color: rgba(221,221,221,1)
}
.style-25 {
  color: rgba(51,51,51,1);
  font-family: BalsamiqSans,sans-serif;
  font-size: 18px
}
.style-26 {
  background-color: rgba(43,120,228,1)
}
.style-27 {
  color: rgba(255,255,255,1);
  font-family: BalsamiqSans,sans-serif;
  font-size: 18px
}
.style-29 {
  color: rgba(102,102,102,1);
  font-family: BalsamiqSans,sans-serif;
  font-size: 14px
}
.style-30 {
  color: rgba(102,102,102,1);
  font-family: BalsamiqSans,sans-serif;
  font-size: 14px
}
.style-31 {
  background-color: rgba(238,238,238,1)
}
.style-32 {
  background-color: rgba(255,255,255,1);
  border: 1px solid rgba(0,0,0,1)
}
.style-33 {
  font-family: "Balsamiq Sans",sans-serif;
  font-size: 13px
}
.style-35 {
  background-color: rgba(43,120,228,1)
}
.style-42 {
  background-color: rgba(238,238,238,1)
}
.style-43 {
  background-color: rgba(255,255,255,1)
}
.style-44 {
  color: rgba(51,51,51,1);
  font-family: BalsamiqSans,sans-serif;
  font-size: 16px
}
.style-46 {
  color: rgba(51,51,51,1);
  font-family: BalsamiqSans,sans-serif;
  font-size: 16px;
  font-weight: 700
}
.style-47 {
  color: rgba(51,51,51,1);
  font-family: BalsamiqSans,sans-serif;
  font-size: 16px
}
.style-48 {
  color: rgba(153,153,153,1);
  font-family: BalsamiqSans,sans-serif;
  font-size: 16px
}
.style-49 {
  color: rgba(43,120,228,1);
  font-family: BalsamiqSans,sans-serif;
  font-size: 14px;
  font-weight: 700
}
.style-50 {
  background-color: rgba(221,221,221,1)
}
.style-51 {
  background-color: rgba(255,255,255,1)
}
.style-52 {
  color: rgba(51,51,51,1);
  font-family: BalsamiqSans,sans-serif;
  font-size: 17px
}
.style-54 {
  color: rgba(51,51,51,1);
  font-family: BalsamiqSans,sans-serif;
  font-size: 16px;
  font-weight: 700
}
.style-55 {
  color: rgba(153,153,153,1);
  font-family: BalsamiqSans,sans-serif;
  font-size: 16px
}
.style-57 {
  background-image: url(https://designresources.assets.yotako.io/png/2017-12-06-16-50:1512579009196.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}
.style-58 {
  color: rgba(51,51,51,1);
  font-family: BalsamiqSans,sans-serif;
  font-size: 16px;
  font-weight: 700
}
.style-59 {
  color: rgba(153,153,153,1);
  font-family: BalsamiqSans,sans-serif;
  font-size: 16px
}
.style-60 {
  background-image: url(https://designresources.assets.yotako.io/png/2017-12-06-16-50:1512579009275.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}
.style-0 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 .31%;
  width: 99.365%;
  height: 100%;
  z-index: 0;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial
}
.style-1 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  width: 100.638%;
  height: 22.504%;
  z-index: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-7 {
  position: initial;
  margin: 19px 0 0 3.49%;
  width: 6.349%;
  height: 16.129%;
  z-index: 7;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-3 {
  position: relative;
  margin: 35px 0 0 33.65%;
  width: 31.746%;
  height: 80.645%;
  z-index: 3;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-2 {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  width: 87.936%;
  height: 219.354%;
  top: 90.32%;
  left: 5.71%;
  z-index: 2;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-13 {
  position: initial;
  margin: 40px 0 0 70.39%;
  width: 8.664%;
  z-index: 13;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-4 {
  position: initial;
  margin: 20px 0 0 42.59%;
  width: 14.44%;
  z-index: 4;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-5 {
  position: initial;
  margin: 0 0 0 10.46%;
  width: 82.671%;
  z-index: 5;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.takoprofile-container-0-image-0-container-1-row-3 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 11px 0 0 11.55%;
  width: 81.588%;
  height: 7.352%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-6 {
  position: initial;
  width: 86.725%;
  z-index: 6;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-14 {
  position: relative;
  margin: 0 0 0 4.42%;
  width: 8.849%;
  height: 100%;
  z-index: 14;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.takoprofile-container-0-image-0-container-1-row-4 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 40px 0 0 11.55%;
  width: 70.758%;
  height: 14.705%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-8 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  width: 43.877%;
  height: 100%;
  z-index: 8;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-9 {
  position: initial;
  margin: 17px 0 0 0;
  width: 100%;
  z-index: 9;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-10 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  margin: 0 0 0 12.24%;
  width: 43.877%;
  height: 100%;
  z-index: 10;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-11 {
  position: initial;
  margin: 17px 0 0 0;
  width: 100%;
  z-index: 11;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-12 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  margin: 336px 0 0 5.43%;
  width: 88.498%;
  height: 26.315%;
  z-index: 12;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-15 {
  position: initial;
  margin: 19px 0 0 4.69%;
  width: 22.743%;
  z-index: 15;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.takoprofile-container-0-container-2-row-1 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 18px 0 0 4.69%;
  width: 92.057%;
  height: 41.379%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-16 {
  position: initial;
  width: 23.529%;
  height: 100%;
  z-index: 16;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.takoprofile-container-0-container-2-row-1-column-1 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0 0 0 3.92%;
  width: 72.549%;
  height: 101.666%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-17 {
  position: initial;
  width: 68.648%;
  z-index: 17;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-18 {
  position: initial;
  margin: 5px 0 0 0;
  width: 100%;
  z-index: 18;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-19 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 13.974%;
  z-index: 0;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial
}
.message-container-0-row-0 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 21px 0 0 5.07%;
  width: 89.841%;
  height: 51.948%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-20 {
  position: initial;
  margin: 12px 0 0 0;
  width: 7.067%;
  height: 50%;
  z-index: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-21 {
  position: initial;
  margin: 8px 0 0 10.24%;
  width: 19.081%;
  z-index: 2;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-22 {
  position: initial;
  margin: 0 0 0 49.46%;
  width: 14.134%;
  height: 100%;
  z-index: 3;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.message-row-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 51px 0 0 5.07%;
  width: 72.063%;
  height: 11.978%;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial
}
.style-23 {
  position: initial;
  width: 17.621%;
  height: 60.606%;
  z-index: 4;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-24 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  margin: 0 0 0 3.96%;
  width: 78.414%;
  height: 100%;
  z-index: 5;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-25 {
  position: initial;
  margin: 11px 0 0 6.17%;
  width: 91.011%;
  z-index: 6;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-29 {
  margin: 7px 0 0 20.63%;
  width: 15.555%;
  z-index: 10;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-26 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 49px 0 0 60.63%;
  width: 34.285%;
  height: 9.8%;
  z-index: 7;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial
}
.message-container-2-row-0 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 18px 0 0 14.81%;
  width: 66.666%;
  height: 44.444%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-27 {
  position: initial;
  width: 59.722%;
  z-index: 8;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-28 {
  position: initial;
  margin: 0 0 0 12.5%;
  width: 27.777%;
  height: 83.333%;
  z-index: 9;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-30 {
  margin: 4px 0 0 79.68%;
  width: 15.238%;
  z-index: 11;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-31 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 161px 0 0 0;
  width: 100%;
  height: 15.607%;
  z-index: 12;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial
}
.message-container-3-row-0 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 15px 0 0 5.07%;
  width: 89.841%;
  height: 69.767%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-32 {
  position: initial;
  margin: 20px 0 0 0;
  width: 67.491%;
  height: 45%;
  z-index: 13;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-34 {
  position: initial;
  margin: 0 0 0 11.3%;
  width: 21.201%;
  height: 100%;
  z-index: 14;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-35 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 13.974%;
  z-index: 0;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial
}
.menu-container-0-row-0 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 37px 0 0 3.49%;
  width: 92.063%;
  height: 38.961%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-38 {
  position: initial;
  width: 10.344%;
  height: 100%;
  z-index: 3;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-39 {
  position: initial;
  width: 10.344%;
  height: 100%;
  z-index: 4;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-40 {
  position: initial;
  width: 10.344%;
  height: 100%;
  z-index: 5;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-41 {
  position: initial;
  width: 10.344%;
  height: 100%;
  z-index: 6;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-37 {
  position: initial;
  width: 10.344%;
  height: 100%;
  z-index: 2;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-36 {
  position: initial;
  width: 10.344%;
  height: 100%;
  z-index: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-42 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 86.025%;
  z-index: 7;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial
}
.style-43 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  margin: 33px 0 0 5.71%;
  width: 87.936%;
  height: 40.295%;
  z-index: 8;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-44 {
  position: initial;
  margin: 19px 0 0 5.77%;
  width: 31.407%;
  z-index: 9;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.menu-container-1-container-2-row-1 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 10px 0 0 5.77%;
  width: 74.007%;
  height: 31.413%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-45 {
  position: initial;
  width: 29.268%;
  height: 100%;
  z-index: 10;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.menu-container-1-container-2-row-1-column-1 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 0 0 0 8.29%;
  width: 60%;
  height: 75%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-46 {
  position: initial;
  margin: 0 0 0 .81%;
  width: 70.731%;
  z-index: 11;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-47 {
  position: relative;
  margin: 0 0 0 16.26%;
  width: 16.26%;
  z-index: 12;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-48 {
  position: initial;
  margin: 1px 0 0 0;
  width: 100%;
  z-index: 13;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-50 {
  position: initial;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 32px 0 0 15.88%;
  width: 67.87%;
  height: 5.235%;
  z-index: 15;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-49 {
  position: initial;
  margin: 19px 0 0 31.4%;
  width: 34.296%;
  z-index: 14;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-51 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  margin: 30px 0 0 5.71%;
  width: 87.936%;
  height: 48.523%;
  z-index: 16;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-52 {
  position: initial;
  margin: 32px 0 0 5.77%;
  width: 54.512%;
  z-index: 17;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.menu-container-1-container-4-row-1 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 19px 0 0 5.77%;
  width: 90.974%;
  height: 26.086%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-53 {
  position: initial;
  width: 23.809%;
  height: 100%;
  z-index: 18;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.menu-container-1-container-4-row-1-column-1 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0 0 0 4.36%;
  width: 44.047%;
  height: 78.333%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-54 {
  position: initial;
  width: 100%;
  z-index: 19;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-55 {
  position: initial;
  margin: 4px 0 0 0;
  width: 64.864%;
  z-index: 20;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-56 {
  position: initial;
  margin: 0 0 0 7.93%;
  width: 19.841%;
  height: 83.333%;
  z-index: 21;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.menu-container-1-container-4-row-2 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 19px 0 0 5.41%;
  width: 91.335%;
  height: 26.086%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-57 {
  position: initial;
  width: 23.715%;
  height: 100%;
  z-index: 22;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.menu-container-1-container-4-row-2-column-1 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0 0 0 4.74%;
  width: 44.664%;
  height: 75%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-58 {
  position: initial;
  width: 28.318%;
  z-index: 23;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-59 {
  position: initial;
  margin: 1px 0 0 0;
  width: 100%;
  z-index: 24;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-60 {
  position: initial;
  margin: 6px 0 0 7.11%;
  width: 19.762%;
  height: 83.333%;
  z-index: 25;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}